@import "common.css";
@import "reset.css";

/* 顶部样式begin */
#top {
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
}

#top .container {
  width: 980px;
  margin: 0 auto;
  display: flex;
  padding: 0 5px;
  /* 两端对齐 */
  justify-content: space-between;
}

#top .container .left {
  position: relative;
}

#top .container .left .logo {
  margin-right: 20px;
  /* 设置定位，z-index属性才会生效 */
  position: relative;
  z-index: 11;
}

#top .container .left span a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#top .container .left span:hover a {
  display: block;
}

/* 右边样式begin */
#top .right {
  display: flex;
  position: relative;
  /* width: 300px; */
}

#top .right h3 {
  color: #464646;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  position: relative;
}

#top .right h3 a:hover {
  color: #ff4600;
}

#top .right .text1 {
  margin-right: 20px;
  padding-left: 30px;
  /* width: 88px; */
}

/* 页面中用来修饰的小图标选择用伪元素加入 */
#top .right .text1::before {
  content: '';
  width: 30px;
  height: 30px;
  background: url(../img/ico_01.png) -30px 0;
  position: absolute;
  left: 0;
  top: 5px;
}

#top .right .text2 {
  cursor: pointer;
  padding-right: 25px;
}

#top .right .text2::after {
  content: '';
  width: 30px;
  height: 30px;
  background: url(../img/ico_01.png);
  position: absolute;
  right: 0px;
  top: 5px;
  transform: rotate(90deg);
  opacity: .1;
}

#top .right .text2 iframe {
  width: 708px;
  height: 582px;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 11;
}

#top .right .text2:hover iframe {
  display: block;
}

/* 右边样式end */

/* 顶部样式end */



/* 导航栏begin */
#nav {
  height: 131px;
  background: url(../img/nav_bg.png) no-repeat center;
  position: relative;
  z-index: 9;
}

#nav .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  /* 水平方向两端对齐 */
  justify-content: space-between;
}

#nav .container .title {
  display: flex;
}

#nav .container .title a {
  margin: 5px 20px 0 0;
}

#nav .container .title h1 {
  font-size: 24px;
  color: #ffb400;
  line-height: 36px;
  font-weight: bold;
  margin-top: 24px;
}

#nav .container .title span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

/* 导航栏begin */
#nav .container ul {
  display: flex;
  height: 100px;
}

#nav .container ul a {
  display: block;
  width: 120px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

#nav .container ul a:hover {
  color: #ffb400;
  background: url(../img/navHover_bg.png) 0 -50px;
}

/* 导航栏end */


/* 进入官网and播放视频begin */
#section1 {
  height: 920px;
  background: url(../img/section1_bg2.jpg) no-repeat bottom;
  position: relative;
  z-index: 8;
  margin-top: -28px;
}

#section1 .container {
  height: 890px;
  background: url(../img/section1_bg1.jpg) no-repeat top;

  /* 进入官网按钮需要绝对定位，所以这里给个相对 */
  position: relative;
}

#section1 .container .btn {
  position: absolute;
  width: 232px;
  /* 设置height、padding-top、overflow使文字隐藏 */
  height: 0;
  padding-top: 78px;
  overflow: hidden;

  top: 30px;
  left: 70%;
  background: url(../img/join_btn.png) no-repeat;
}

#section1 .container .video {
  position: relative;
  display: flex;
  justify-content: center;
  top: 654px;
}

#section1 .container .video .play {
  width: 283px;
  height: 163px;
  background: url(../img/video-bg.png) no-repeat;
  display: flex;
  /* 水平居中 */
  justify-content: center;
  /* 垂直居中 */
  align-items: center;
  position: relative;
}

#section1 .container .video .play::after {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: url(../img/play-btn.png);
  cursor: pointer;
  /* 引入播放按钮关键帧动画 */
  animation: breathing 1s linear infinite alternate;
}

/* 设置播放按钮关键帧动画 */
@keyframes breathing {
  0% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

#section1 .container .video .qr-code {
  width: 156px;
  height: 156px;
  margin: 0 15px;
}

#section1 .container .video .down {
  width: 229px;
  height: 156px;
  display: flex;
  /* 使用弹性盒模型时的子元素换行方法 */
  flex-wrap: wrap;
  /* 水平方向两端对齐 */
  align-content: space-between;
}

/* 弹出视频begin */
.dialog {
  width: 1063px;
  height: 608px;
  padding: 9px 8px;
  /* 怪异盒模型：让元素尺寸不受padding或border的影响 */
  box-sizing: border-box;
  background: url(../img/dia-bg.png) no-repeat;
  position: fixed;
  /* 固定定位时设置top、right、bottom、left、margin为0，margin:auto;进行居中 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 20;
}

.movie {
  height: 588px;
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  right: -102px;
  top: 7px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: url(../img/dia-close.png);
}

.shadow {
  /* vw、vh 移动端适配 */
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 19;
}

/* 弹出视频end */

/* 进入官网and播放视频end */

/* 版本资讯begin */
#section2 {
  height: 883px;
  position: relative;
  z-index: 7;
  background: url(../img/section2_bg1.jpg) no-repeat center top;
  margin-top: -30px;
  padding-top: 92px;
  box-sizing: border-box;
}

#section2::after {
  content: '';
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: url(../img/section2_bg2.jpg) no-repeat center top;
}

#section2 h2 {
  height: 0px;
  padding-top: 76px;
  overflow: hidden;
  background: url(../img/section2_head.png) no-repeat center top;
}

/* 设置container的宽 */
#section2 .container {
  width: 1200px;
  margin: 60px auto 0;
}

/* 给最新活动、商城新品两个按钮设置弹性盒模型 */
#section2 .tabList {
  display: flex;
}

/* 这里可以提取选项按钮的公共样式 */
#section2 .tabList li {
  width: 600px;
  height: 100px;
  line-height: 100px;
  font-size: 38px;
  color: #ffbf05;
  text-align: center;
  cursor: pointer;
  background: url(../img/css-sprites.png) no-repeat -20px -17px;
}

#section2 .tabList li:hover,
#section2 .tabList li.active {
  color: #fff;
  background-position: -20px -134px;
}

#section2 .bgi {
  height: 440px;
  padding-top: 30px;
  box-sizing: border-box;
  background: url(../img/sec2-cont-bg.png) no-repeat;
}

/* 直接设置的公共隐藏样式，这里就注释了 */
/* #section2 .bgi>div { */
/* 选择到.bgi里的第一层div */
/* display: none;
} */


/* 最新活动内容begin */
#section2 .bgi>div.active {
  /* 选择到.bgi里的第一层有.active类名的div */
  display: flex;
  justify-content: space-between;
}

.subTab_1 li {
  width: 240px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 26px;
  color: #cbcbcb;
  background: url(../img/css-sprites.png) no-repeat -268px -389px;
  cursor: pointer;
}

.subTab_1 li:hover {
  color: #000;
  background-position: -268px -509px;
}

.subTab_1 li.active {
  color: #000;
  background-position: -268px -509px;
}

.subTab_1 .tabContent {
  width: 900px;
  margin-right: 20px;
  padding-top: 64px;
}

/* 后续修改begin */
.container .tabContent>div {
  display: none;
}

.container .tabContent>div.active {
  display: block;
}

.subTab_1 .tabContent>div {
  display: none;
}

.subTab_1 .tabContent>div.active {
  display: block;
  display: flex;
}

.subTab_2 .tabContent>div {
  display: none;
}

.subTab_2 .tabContent>div.active {
  display: block;
  display: flex;
}

/* 后续修改end */


/* .subTab_1 .tabContent>div.active { */
/* 选择到.tabContent里的第一层有.active类名的div */
/* display: flex;
} */

.subTab_1 .text {
  margin-left: 26px;
}

.subTab_1 .text h3 {
  font-size: 20px;
  color: #ffbf05;
  text-align: center;
  margin: 0 auto 16px;
}

.subTab_1 .text p {
  font-size: 16px;
  color: #e4e4e4;
}

/* 最新活动内容end */


/* 商城新品内容begin */
.subTab_2 {
  padding: 40px 30px 0;
}

.subTab_2 .tabBtn {
  width: 570px;
  height: 326px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.subTab_2 li {
  width: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: url(../img/subTab_bg.png) no-repeat top center;
}

.subTab_2 li p {
  font-size: 16px;
  color: #ffbf05;
  position: absolute;
  bottom: 12px;
  right: 18px;
}

.subTab_2 .tabContent div {
  width: 546px;
  height: 317px;
  position: relative;
  background: url(../img/subTab_bg_big.png) no-repeat;
}

/* .subTab_2 .tabContent div.active {
  display: block;
} */

.subTab_2 .tabContent p {
  width: 100%;
  height: 52px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 20px;
  color: #ffbf05;
  line-height: 52px;
  text-align: center;
}

/* 商城新品内容end */

/* 版本资讯end */


/* section3新增玩法/模式begin */
#section3,
#section4,
#section5,
#section6,
#section7,
#section8 {
  height: 880px;
  position: relative;
  z-index: 6;
  background: url(../img/section3_bg1.jpg) no-repeat center top;
  margin-top: -30px;
  padding-top: 92px;
  box-sizing: border-box;
}

#section3::after,
.bottom,
#section5::after,
#section6::after,
#section7::after,
#section8::after {
  content: '';
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: url(../img/section3_bg2.png) no-repeat center top;
}

#section3 h2,
#section4 h2,
#section5 h2,
#section6 h2,
#section7 h2,
#section8 h2 {
  height: 0px;
  padding-top: 66px;
  overflow: hidden;
  background: url(../img/section3_head.png) no-repeat center top;
}

#section3 .container {
  width: 1400px;
  margin: 90px auto 0;
  position: relative;
}

#section3 .container .wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#section3 .container .wrap ul {
  display: flex;
  width: 4800px;
}

#section3 .container .wrap ul li {
  display: flex;
}

#section3 li img,
#section3 li .text {
  width: 600px;
  height: 424px;
}

#section3 li .text {
  background: rgba(0, 0, 0, .5);
}

#section3 .container .wrap .text h3 {
  font-size: 26px;
  color: #000;
  font-weight: normal;
  line-height: 62px;
  text-align: center;
  background: #ffbf05;
}

#section3 .container .wrap .text p {
  width: 540px;
  height: 280px;
  padding: 0 10px;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #e4e4e4;
  line-height: 30px;
}

#section3 .btn {
  width: 57px;
  height: 115px;
  position: absolute;
  top: 40%;

  margin-top: -58px;
  background: url(../img/css-sprites.png);
  cursor: pointer;
}

#section3 .prev {
  left: 0;
  background-position: -24px -255px;
}

#section3 .prev:hover {
  background-position: -99px -255px;
}

#section3 .next {
  right: 0;
  background-position: -184px -255px;
}

#section3 .next:hover {
  background-position: -266px -255px;
}

#section3 .circle {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

#section3 .circle span {
  width: 21px;
  height: 21px;
  background: #898179;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

#section3 .circle span.active {
  background: #ffbf05;
}

/* section3新增玩法/模式end */


/* section4新增场景begin */
#section4 {
  z-index: 5;
  background-image: url(../img/section4_big_01.png);
  position: relative;
  top: 1px;
}

/* #section4::after {
  background-image: url(../img/section4_big_01_bottom.png);
} */

#section4 h2 {
  background-image: url(../img/section4_head.png);
}

#section4 ul {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 60px;
}

#section4 ul li {
  /* width: 144px; */
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}

#section4 ul li img {
  border: 2px solid transparent;
}

#section4 ul li.active img {
  border: 2px solid #ffbf05;
}

#section4 ul li p {
  font-size: 26px;
  color: #c2c2c2;
  margin-top: 18px;
}

#section4 ul li.active p {
  color: #ffbf05;
}


/* section4新增场景end */


/* section5新增场景begin */
#section5 {
  background-image: url(../img/section5_bg1.jpg);
  z-index: 4;
}

#section5::after {
  background-image: url(../img/section5_bg2.png);
}

#section5 h2 {
  background-image: url(../img/section5_head.png);
}

#section5 .container {
  width: 1400px;
  height: 535px;
  margin: 90px auto 0;
}

#section5 .container .elastic-box {
  display: flex;
  /* 元素呈一行排列时水平方向两端对齐 */
  justify-content: space-between;
  /* 元素呈一行排列时垂直方向居中 */
  align-items: center;
  /* position: relative; */
}

/* 上一张、下一张按钮begin */
#section5 .container .elastic-box .btn {
  width: 57px;
  height: 115px;
  background: url(../img/css-sprites.png);
}

#section5 .container .elastic-box .prev {
  background-position: -24px -255px;
}

#section5 .container .elastic-box .prev:hover {
  background-position: -99px -255px;
}

#section5 .container .elastic-box .next {
  background-position: -184px -255px;
}

#section5 .container .elastic-box .next:hover {
  background-position: -266px -255px;
}

/* 上一张、下一张按钮end */

#section5 .container .elastic-box .wrap {
  width: 1200px;
  height: 424px;
  overflow: hidden;
}

#section5 .container .elastic-box .wrap ul {
  width: 4800px;
  display: flex;
}

#section5 .container .elastic-box .wrap li {
  width: 1200px;
  height: 424px;
  display: flex;
}

#section5 .container .elastic-box .wrap .text {
  width: 600px;
  background: rgba(0, 0, 0, .5);
}

#section5 .container .elastic-box .wrap .text h3 {
  text-align: center;
  font-size: 26px;
  color: #000;
  font-weight: normal;
  line-height: 62px;
  background: #ffbf05;
}

#section5 .container .elastic-box .wrap .text p {
  width: 540px;
  height: 280px;
  padding: 0 10px;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: normal;
  line-height: 30px;
}

#section5 .circle {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

#section5 .circle span {
  width: 21px;
  height: 21px;
  background: #898179;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

#section5 .circle span.active {
  background: #ffbf05;
}

/* section5新增场景end */


/* section6新增玩法/模式begin */

#section6 {
  z-index: 3;
  background-image: url(../img/section6_bg1.jpg);
  top: 1px;
}

#section6::after {
  background-image: url(../img/section6_bg2.png);
}

#section6 h2 {
  background-image: url(../img/section6_head.png);
  margin-bottom: 88px;
}

#section6 .container ul {
  display: flex;
  justify-content: center;
}

#section6 .container ul li {
  width: 399px;
  height: 444px;
  background: rgba(0, 0, 0, .5);
  border: 2px solid #ffbf05;
  box-sizing: border-box;
  margin: 0 4px;
  overflow: hidden;
}

#section6 .container ul li img {
  width: 395px;
  height: 224px;
  margin: 0 auto;
}

#section6 .container ul li h3 {
  width: 197px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  overflow: hidden;
  margin: 26px auto 19px;
  background: url(../img/css-sprites.png) no-repeat -423px -255px;
}

#section6 .container ul li p {
  width: 318px;
  height: 123px;
  margin: 0 auto;
  font-size: 16px;
  color: #e4e4e4;
  overflow: auto;
}

/* 定义滚动条宽高 */
#section6 .container ul li p::-webkit-scrollbar {
  /*对垂直流动条有效*/
  width: 5px;
  /*对水平流动条有效*/
  /* height: 10px; */
}

/* 定义滑块颜色、内阴影及圆角 */
#section6 .container ul li p::-webkit-scrollbar-thumb {
  border-radius: 5px;
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
  background-color: #ffc205;
}

/* section6新增玩法/模式end */

/* section7系统优化begin */
#section7 {
  z-index: 2;
  background-image: url(../img/section7_bg1.jpg);
}

#section7::after {
  background-image: url(../img/section7_bg2.png);
}

#section7 h2 {
  background-image: url(../img/section7_head.png);
  margin-bottom: 80px;
}

#section7 ul {
  display: flex;
  justify-content: center;
}

#section7 ul li {
  display: flex;
  margin: 0 5px;
}

#section7 h3 {
  width: 92px;
  height: 510px;
  font-weight: normal;
  background: url(../img/css-sprites.png) no-repeat -142px -389px;
  color: #bcbcbc;

  display: flex;
  justify-content: center;
  align-items: center;
}

#section7 li.active h3 {
  color: #875d00;
  background: url(../img/css-sprites.png) no-repeat -24px -389px;
  margin-right: 10px;
}


#section7 h3 p {
  width: 32px;
  font-size: 32px;
}

#section7 li .info {
  /* width: 545px; */
  height: 510px;
  background: url(../img/bg7-box.png) no-repeat top center/100% 100%;
  /* display: none; */

  transition: .7s ease-out;
  width: 0;
  opacity: 0;
  /* padding: 60px 25px 40px;
  box-sizing: border-box; */
  overflow: hidden;
}

/* 将.active的类名为.info的兄弟元素显示出来 */
#section7 li.active .info {
  width: 545px;
  opacity: 1;
}

#section7 .info p {
  width: 545px;
  height: 510px;
  padding: 30px 25px 40px;
  box-sizing: border-box;

  font-size: 20px;
  color: #c7c7c7;
  line-height: 38px;
  overflow: auto;
}

#section7 .info p::-webkit-scrollbar {
  /*对垂直流动条有效*/
  width: 5px;
  /*对水平流动条有效*/
  /* height: 10px; */
}

/* 定义滑块颜色、内阴影及圆角 */
#section7 .info p::-webkit-scrollbar-thumb {
  border-radius: 5px;
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
  background-color: #ffc205;
}

/* section7系统优化end */


/* section8游戏特色begin */
#section8 {
  z-index: 1;
  top: 1px;
  background-image: url(../img/section8_bg1.jpg);
}

#section8::after {
  background-image: url(../img/section8_bg2.jpg);
}

#section8 h2 {
  margin-bottom: 80px;
  background-image: url(../img/section8_head.png);
}

/* 上一张、下一张按钮begin */
#section8 .container .elastic-box .btn {
  width: 57px;
  height: 115px;
  background: url(../img/css-sprites.png);
}

#section8 .container .elastic-box .prev {
  background-position: -24px -255px;
}

#section8 .container .elastic-box .prev:hover {
  background-position: -99px -255px;
}

#section8 .container .elastic-box .next {
  background-position: -184px -255px;
}

#section8 .container .elastic-box .next:hover {
  background-position: -266px -255px;
}

/* 上一张、下一张按钮end */

/* 轮播图begin */
#section8 ul {
  width: 1000px;
  height: 495px;
  margin: 0 auto;
  position: relative;
}

#section8 li {
  width: 858px;
  height: 495px;
  position: absolute;
  transition: .5s;
}

#section8 li img {
  width: 100%;
  height: 100%;

  /* width: 858px;
  height: 495px; */
}

#section8 li:nth-child(1) {
  /* 左边 */
  left: 0;
  opacity: .5;
  z-index: 2;
  /* 改变元素比例 */
  transform: scale(.8);
  /* 改变元素基点 */
  transform-origin: left;
}

#section8 li:nth-child(3) {
  /* 右边 */
  right: 0;
  opacity: .5;
  z-index: 2;
  transform: scale(.8);
  transform-origin: right;
}

#section8 li:nth-child(2) {
  /* 中间 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#section8 li:nth-child(n+4) {
  z-index: 1;
  opacity: .5;
  left: 50%;
  transform: translateX(-50%) scale(.8);
}

#section8 .container .elastic-box {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#section8 .container .elastic-box .wrap {
  width: 1000px;
  height: 495px;
  /* overflow: hidden; */
}

/*
#section8 .container .elastic-box .wrap ul {
  display: flex; 
  width: 8580px;
}

#section8 .container .elastic-box .wrap ul li img {
  width: 858px;
  height: 495px;
}
*/

/* 轮播图end*/

#section8 .container .circle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#section8 .container .circle span {
  width: 21px;
  height: 21px;
  background: #898179;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

#section8 .container .circle span.active {
  background: #ffbf05;
}

/* section8游戏特色end */


/* 页脚begin */
#footer {
  background: #000;
  margin-top: -10px;
  color: #fff;
  font-size: 12px;
}

#footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 70px;
  display: flex;
  justify-content: space-between;
}

#footer .container .left {
  width: 314px;
}

#footer .container .left img {
  margin: 10px 0 0 10px;
}

#footer .container .left p {
  margin-top: 20px;
}


#footer .container .right a {
  color: #fff;
}

#footer .container .right li {
  line-height: 20px;
}

/* 页脚end */

/* 侧面导航栏begin */
#side-nav {
  z-index: 18;
  position: fixed;
  right: 50px;
  top: 25%;
  font-size: 12px;
  /* transform: translateY(-50%); */
}

#side-nav li {
  height: 54px;
  line-height: 54px;
}

#side-nav li a {
  color: #fff;
  position: relative;
}

#side-nav li.active a {
  color: #ffbf05;
}

#side-nav li a:hover {
  color: #ffbf05;
}

#side-nav li:nth-child(n+2) a::after {
  content: '';
  position: absolute;
  top: -30px;
  left: 40px;
  width: 1px;
  height: 26px;
  background: url(../img/css-sprites.png) no-repeat -391px -257px;
}


#side-nav li.active a::before,
#side-nav li:hover a::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -25px;
  width: 20px;
  height: 20px;
  background: url(../img/css-sprites.png) no-repeat -345px -342px;
}

/* 侧面导航栏end */